#right{
    position: absolute;
    right: 5%;
    outline: none;
}  

.material-icons.md-dark { 
    color: rgba(0, 0, 0, 0.54);
 }
 #home{
     position: absolute;
     align-self: center;
     left: 5%;
     outline: none;
 }

 #right:hover,#home:hover{
     cursor: pointer;
     
 }

