<div fxLayoutAlign="space-around stretch" class="container">
        <div *ngIf="form" fxFlex=35>

                <form [formGroup]="form" fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="space-around stretch">
                        <div fxLayout="row" id="test" fxLayoutAlign="space-between stretch"
                                *ngFor="let question of questions; let i = index">

                                <div [ngSwitch]="question.questionType" id="align-delete">
                                        <mat-card *ngSwitchCase="'Input'" fxFlex="100">
                                                <mat-card-title [attr.for]="question.title">{{question.title}}</mat-card-title>
                                                <hr>
                                                <mat-card-content>
                                                        <mat-form-field>
                                                                <input matInput [formControlName]="question.title"
                                                                        [id]="question.title"
                                                                        [type]="question.questionType"
                                                                        placeholder="Input question">
                                                        </mat-form-field>
                                                        <div class="delete">
                                                                <button mat-flat-button (click)="deleteQuestion(i)">
                                                                        <mat-icon>delete</mat-icon>
                                                                </button>
                                                        </div>

                                                </mat-card-content>
                                        </mat-card>

                                        <mat-card *ngSwitchCase="'Text'" fxFlex="100">
                                                <mat-card-title [attr.for]="question.title">{{question.title}}
                                                </mat-card-title>
                                                <hr>
                                                <mat-card-content>
                                                        <mat-form-field>
                                                                <textarea matInput [formControlName]="question.title"
                                                                        [id]="question.title"
                                                                        [type]="question.questionType"
                                                                        placeholder="Text question"></textarea>
                                                                </mat-form-field>
                                                                <div class="delete">
                                                                        <button  mat-flat-button (click)="deleteQuestion(i)"><mat-icon>delete</mat-icon></button>
                                                                </div>
                                                               
                                                        </mat-card-content>
                                                </mat-card>


                                        <mat-card *ngSwitchCase="'Select'" fxFlex="100">
                                                <mat-card-title [attr.for]="question.title">{{question.title}}
                                                </mat-card-title>
                                                <hr>
                                                <mat-card-content>
                                                        <mat-form-field>
                                                                <mat-select [id]="question.title"
                                                                        [formControlName]="question.title">
                                                                        <mat-option *ngFor="let opt of question.options"
                                                                                [value]="opt">{{opt}}
                                                                        </mat-option>
                                                                </mat-select>
                                                                
                                                        </mat-form-field>
                                                        <div class="delete">
                                                                <button  mat-flat-button (click)="deleteQuestion(i)"><mat-icon>delete</mat-icon></button>
                                                        </div>
                                                </mat-card-content>
                                        </mat-card>

                                        <mat-card *ngSwitchCase="'Radio'" fxFlex="100">
                                                <mat-card-title [attr.for]="question.title">{{question.title}}
                                                </mat-card-title>
                                                <hr>
                                                <mat-card-content>
                                                        <mat-radio-group [formControlName]="question.title"
                                                                [id]="question.title" layout="row">
                                                                <mat-radio-button *ngFor="let opt of question.options"
                                                                        [value]="opt">
                                                                        {{opt}}
                                                                </mat-radio-button>
                                                        </mat-radio-group>
                                                        <div class="delete">
                                                                <button  mat-flat-button (click)="deleteQuestion(i)"><mat-icon>delete</mat-icon></button>
                                                        </div>
                                                       
                                                </mat-card-content>
                                        </mat-card>

                                        <mat-card *ngSwitchCase="'Checkbox'" fxFlex="100">
                                                <mat-card-title [attr.for]="question.title">{{question.title}}
                                                </mat-card-title>
                                                <hr>
                                                <mat-card-content fxLayout="column">
                                                        <label [formArrayName]="question.title"
                                                                *ngFor="let opt of question.options; let i = index;">
                                                                <mat-checkbox [formControlName]="i" [value]="opt">
                                                                        {{opt}}
                                                                </mat-checkbox>
                                                        </label>
                                                        <div class="delete">
                                                                <button  mat-flat-button (click)="deleteQuestion(i)"><mat-icon>delete</mat-icon></button>
                                                        </div>
                                                        
                                                </mat-card-content>
                                        </mat-card>

                                        
                                </div>
                        </div>

                        <button class="add-button" type="button" mat-flat-button (click)="openDialog()" color="primary">Add question</button>
                </form>
        </div>
</div>
<button mat-flat-button color="primary" class="live" (click)="navigate()">LIVE</button>

