<div fxLayout="row" fxLayoutAlign="center center">
        <div *ngIf="form">


                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div *ngFor="let question of questions">
                                <mat-label [attr.for]="question.title">{{question.title}}</mat-label>

                                <div [ngSwitch]="question.questionType">


                                        <mat-card *ngSwitchCase="'Input'">
                                                <input matInput [formControlName]="question.title" [id]="question.title"
                                                        [type]="question.questionType">
                                        </mat-card>

                                        <mat-select [id]="question.title" *ngSwitchCase="'Select'"
                                                [formControlName]="question.title">
                                                <mat-option *ngFor="let opt of question.options" [value]="opt">{{opt}}
                                                </mat-option>
                                        </mat-select>



                                        <mat-radio-group *ngSwitchCase="'Radio'" [formControlName]="question.title"
                                                [id]="question.title">
                                                <mat-radio-button *ngFor="let opt of question.options" [value]="opt">
                                                        {{opt}}
                                                </mat-radio-button>
                                        </mat-radio-group>

                                        <section *ngSwitchCase="'Checkbox'" [formArrayName]="question.title">
                                                
                                                        <mat-checkbox *ngFor="let opt of question.options; let i = index;" [formControlName]="i">
                                                        {{opt}}
                                                        </mat-checkbox>

                                                
                                        </section>






                                </div>

                        </div>

                        <div>
                                <button type="submit">Save</button>
                        </div>
                </form>

                <button class="dugme" mat-flat-button (click)="openDialog()">Dodaj</button>

        </div>
</div>