.row {
    width: 80%;
}

.container {
    width: 100%;
    padding: 20px;
}

.mat-card {
    height: 100%;
}

.wrapper {
    flex-flow: row;
}

mat-form-field {
    width: 70%;
}

mat-radio-button {
    margin: 20px 10px
}

md-checkbox ._md-label {
    margin-left: 20px;
}

.title {
    height: 10%;
    background-color: #e2dfdf;
    margin-bottom: 10px
}

.delete:hover {
    cursor: pointer;
}

.delete {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#test {
    width: 100%;
}

#align-delete {
    width: 100%;
}

.delete-card-content {}

mat-card {}

mat-input-wrapper{
    width: 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(24, 23, 23, 0.06);
    
    padding: 0;
}