<div fxLayoutAlign="space-around stretch" class="container">
  <div *ngIf="questions?.length > 0" fxFlex="40">
    <div
      cdkDropList
      class="example-list"
      (cdkDropListDropped)="drop($event)"
      fxFlex="100"
    >
      <div
        fxLayout="column"
        fxLayoutAlign="space-between stretch"
        class="example-box"
        *ngFor="let question of questions; let i = index"
        cdkDragLockAxis="y"
        cdkDrag
      >
        <mat-card fxFlex="100">
          <div [ngSwitch]="question.questionType">
            <div *ngSwitchCase="'Input'">
              <app-input-question
                [question]="question"
                [form]="form"
                [notValidate]="notValidate"
                (deleted)="deleteQuestion(i)"
              ></app-input-question>
            </div>

            <div *ngSwitchCase="'Text'">
              <app-text-question
                [question]="question"
                [form]="form"
                [notValidate]="notValidate"
                (deleted)="deleteQuestion(i)"
              ></app-text-question>
            </div>

            <div *ngSwitchCase="'Select'">
              <app-select-question
                [question]="question"
                [form]="form"
                [notValidate]="notValidate"
                (deleted)="deleteQuestion(i)"
              ></app-select-question>
            </div>

            <div *ngSwitchCase="'Checkbox'">
              <app-checkbox-question
                [question]="question"
                [form]="form"
                [notValidate]="notValidate"
                (deleted)="deleteQuestion(i)"
              ></app-checkbox-question>
            </div>

            <div *ngSwitchCase="'Radio'">
              <app-radio-question
                [question]="question"
                [form]="form"
                [notValidate]="notValidate"
                (deleted)="deleteQuestion(i)"
              ></app-radio-question>
            </div>
          </div>
          <hr />
          <div class="delete-button">
            <ng-container>
              <button
                mat-flat-button
                (click)="deleteQuestion(i)"
                class="delete-button"
                matTooltip="Delete"
              >
                <mat-icon>delete</mat-icon>
              </button>
              <button
                mat-flat-button
                (click)="edit(i)"
                class="edit-button"
                matTooltip="Edit"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </ng-container>
          </div>
        </mat-card>
      </div>
      <div class="save">
        <button
          mat-raised-button
          [disabled]="checked"
          (click)="saveQuestion()"
          color="primary"
          matTooltip="Save questions"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<button
  class="add-button"
  type="button"
  mat-fab
  (click)="openDialog()"
  color="primary"
>
  <mat-icon matTooltip="Add Question">
    add
  </mat-icon>
</button>

<div
  *ngIf="questions?.length < 1"
  fxLayoutAlign="space-around stretch"
  class="container"
>
  <h1 class="mat-h1">
    No Questions!
  </h1>
</div>
