.example-card {
    width: 50%;
}

.example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
}

.example-large-box {
    height: 300px;
    width: 300px;
}

.row {
    width: 80%;
}

.container {
    width: 100%;
}

.mat-card{
    height: 100%;
}

.wrapper{
    flex-flow: row;
}

mat-form-field {
    width: 70%;
  }

  mat-radio-button{
      margin: 20px 10px
  }

  md-checkbox ._md-label
  {
  margin-left: 20px;
  }
  