<div fxLayoutAlign="space-around stretch" class="container">
  <div *ngIf="form" fxFlex="50">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      fxLayout="column"
      fxLayoutGap="30px"
      fxLayoutAlign="space-around stretch"
    >
      <div *ngIf="survey">
        <h1 class="mat-display-1">{{ survey.title }}</h1>
        <h3 class="mat-h2">{{ survey.description }}</h3>
      </div>
      <mat-card>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between stretch"
          *ngFor="let question of questions; let i = index"
        >
          <div [ngSwitch]="question.questionType" id="elements">
            <div *ngSwitchCase="'Input'" fxFlex="100" id="input">
              <app-input-question
                [question]="question"
                [form]="form"
              ></app-input-question>
              <hr />
            </div>

            <div *ngSwitchCase="'Text'" fxFlex="100" id="input">
              <app-text-question
                [question]="question"
                [form]="form"
              ></app-text-question>
              <hr />
            </div>

            <div *ngSwitchCase="'Select'" fxFlex="100">
              <app-select-question
                [question]="question"
                [form]="form"
              ></app-select-question>
              <hr />
            </div>

            <div *ngSwitchCase="'Radio'" fxFlex="100">
              <app-radio-question
                [question]="question"
                [form]="form"
              ></app-radio-question>
              <hr />
            </div>

            <div *ngSwitchCase="'Checkbox'" fxFlex="100">
              <app-checkbox-question
                [question]="question"
                [form]="form"
              ></app-checkbox-question>
              <hr />
            </div>
          </div>
        </div>
      </mat-card>

      <div>
        <button
          mat-raised-button
          type="submit"
          id="save"
          [disabled]="!form.valid"
          color="primary"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
