<h1 mat-dialog-title>Add Question</h1>
<div mat-dialog-content>
  <form
    [formGroup]="questionFormGroup"
    (ngSubmit)="onSubmit(questionFormGroup)"
  >
    <mat-horizontal-stepper #stepper>
      <mat-step [stepControl]="questionFormGroup" fxLayout="column">
        <ng-template matStepLabel>Question Title</ng-template>
        <mat-form-field id="title" fxFlex="100">
          <textarea
            matInput
            placeholder="Question Title"
            formControlName="title"
            required
          ></textarea>
        </mat-form-field>
        <mat-slide-toggle (change)="changed()">
          Required
        </mat-slide-toggle>
        <div mat-dialog-actions align="end">
          <button mat-button matStepperNext type="button" color="primary">
            Next
          </button>
        </div>
      </mat-step>

      <mat-step [stepControl]="questionFormGroup">
        <ng-template matStepLabel>Type of question</ng-template>
        <mat-form-field>
          <mat-select
            (selectionChange)="selectedType($event.value)"
            matInput
            placeholder="Question Type"
            formControlName="questionType"
            required
          >
            <mat-option *ngFor="let item of questionTypes" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div mat-dialog-actions align="end">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext type="button" color="primary">
            Next
          </button>
        </div>
      </mat-step>

      <mat-step *ngIf="typeOfQuestion" [stepControl]="questionFormGroup">
        <ng-template matStepLabel>Question Options</ng-template>
        <div fxLayoutAlign="space-between center">
          <h3>Options</h3>
        </div>
        <div formArrayName="options" fxLayout="column">
          <div
            *ngFor="let answer of optionsArray.controls; let i = index"
            fxLayout="row"
            fxLayoutAlign="space-between stretch"
          >
            <mat-form-field fxFlex="70">
              <mat-label>Option {{ i + 1 }} </mat-label>
              <input matInput [formControlName]="i" />
            </mat-form-field>
            <button mat-button color="primary" (click)="removeItem(i)">
              Remove
            </button>
          </div>
        </div>

        <button
          mat-raised-button
          color="primary"
          (click)="addItem()"
          mat-mini-fab
          type="button"
        >
          <mat-icon>add</mat-icon>
        </button>
        <div mat-dialog-actions align="end">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext type="button" color="primary">
            Next
          </button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div mat-dialog-actions align="center">
          <button
            mat-flat-button
            type="submit"
            color="primary"
            [disabled]="!questionFormGroup.valid"
          >
            Submit
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
