<div fxLayout="row" fxLayoutAlign="center stretch" fxFlexFill >
    <div fxFlex="50">

        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container id="row" matColumnDef="Title">
                <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
                <mat-cell *matCellDef="let data"> {{data.title}} </mat-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row (click)="clickOnRow(row.id)" [routerLink]="['/create/'+row.id]"  *matRowDef="let row; columns: displayedColumns;" ></mat-row>
        </mat-table>
        <div>
            <button class="button" mat-fab color="white" (click)="openDialog()"><i class="material-icons">add</i></button>
        </div>
    </div>
</div>
