<form [formGroup]="titleForm" (submit)="saveSurvey()" fxLayout="column" fxLayoutGap="30px"
    fxLayoutAlign="space-around stretch">
    <mat-form-field>
        <input placeholder="Title" matInput formControlName="title" required='true'>
    </mat-form-field>

    <mat-form-field>
        <input placeholder="Description" matInput formControlName="description">
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary" [disabled]="!titleForm.valid">Save</button>

    <button mat-button mat-dialog-close>Close</button>

</form>